body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 42rem;
  padding: 2rem;
}
.is-horizontal-center {
  justify-content: center;
}
.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}
.image img {
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.columns.is-vcentered {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.connection {
  display: inline-flex;
  align-items: center;
  height: 2em;
}

.connection strong {
  font-size: 2em;
  padding-left: 0.3em;
}
.connection div {
  display: block;
}
